NEXT_PUBLIC_API_URL=http://localhost:8008

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBU6lHcrP8sTjdp4PfMSBCNWNGuB_SU8M4
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=ezra-464e9.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=ezra-464e9
NEXT_PUBLIC_FIREBASE_APP_ID=1:145655033508:web:034fcde9334f16b5990031
